name: Deploy to Google Cloud Run

on:
  push:
    branches: [ "dev" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Configure Google Cloud project
      run: |
        gcloud config set project test-houses96

    - name: Build and Deploy to Cloud Run
      run: |
        gcloud run deploy test-houses96 \
          --source . \
          --platform managed \
          --region us-central1 \
          --allow-unauthenticated
