name: Deploy to Google Cloud App Engine

on:
  push:
    branches: [ "dev" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Set up Java environment
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' 
          java-version: '17'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Google Cloud project
        run: gcloud config set project test-houses96

      - name: Deploy to Google App Engine
        run: |
          gcloud app deploy
          
      - name: Get deployed URL
        run: |
          # Wait for deployment to finish
          sleep 10
          # Fetch the deployed URL
          DEPLOYED_URL=$(gcloud app browse --no-launch)
          echo "Deployed application is available at: $DEPLOYED_URL"
